*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(45deg,
    #0a0a0a , #3a4452
    );
}
.main{
    height: 78vh;
    width: 60vh;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:center;
    margin-bottom:20px;
}

button{
    height:10vh ;
    width: 12vh;
    background-color:transparent;
    color: #ffffff;
    font-size: xx-large;
    border: none;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}
button:hover{
    scale: 1.09;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
button:active{
    scale: 0.95;
    color: red;
}
.cal{
    font-size: 10vh;
    margin-bottom: 40px;
    color: aqua;
}
.number{
    font-size: 7vh;
    background:none;
    border-bottom-color: white;
    border-color:none;
    width:59.5vh;
    height: 20vh;
    text-align: end;
    margin-top: 0%;
    color: white;
}
.operater{
    color: rgb(255, 255, 0);
}
.btn{
    width: 25vh;
}